<h2>Danh sách sản phẩm</h2>

@if (isLoading) {

<p>Đang tải dữ liệu...</p>

} @else if (errorMessage) {

<p style="color: red;">{{ errorMessage }}</p>

} @else {

@if (products.length > 0) {

<table border="1">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @for (product of products; track product.id; let i = $index) {

        <tr>
            <td>{{ i + 1 }}</td>

            <td>{{ product.name }}</td>

            <td>{{ product.price }} VNĐ</td>

            <td>
                {{ product.quantity }}

                @if (product.quantity > 10) {
                🔥
                }
            </td>

            <td>
                <button (click)="deleteProduct(product.id)" [disabled]="deletingId === product.id">

                    @if (deletingId === product.id) {
                    Đang xóa...
                    } @else {
                    Xóa
                    }

                </button>
            </td>
        </tr>

        }

    </tbody>
</table>

} @else {

<p>Không có sản phẩm nào</p>

}

}